body {
  background-image: url('../images/bg.jpg');
  background-size: cover;
}

.main-wrapper {
  padding: 4% 0;
}

.warning {
  display: flex;
  margin: 12px 0;
  padding-left: 12px;
  padding-right: 12px;
  background-color: #26a69a;
  border-radius: 8px;
  color: white;
  align-items: center;
}

.warning--hidden {
  display: none;
}

.warning__icon {
  margin-right: 16px;
}

.warning__text {
}

.warning__text--bold {
  font-weight: 700;
}

.aside {
  margin-top: 8%;
}

.main__heading,
.aside__heading {
  margin-bottom: 4%;
  font-family: 'Oswald', sans-serif;
}

.aside__content {
  border-radius: 4px;
}

.aside__placeholder {
  padding: 20% 16px;
  color: lightslategray;
  text-align: center;
  font-size: 1.1em;
}

.inputs__clear {
  margin: 4%;
  text-align: center;
}

.convert {
  padding: 4% 0;
  text-align: center;
}

.toast__error {
  background-color: red;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.toast__message {
  padding-right: 4%;
}

@media screen and (min-width: 993px) {
  .aside {
    margin-top: initial;
    margin-left: 4%;
  }
}

/* Modal styles */
.modal__heading {
  margin-bottom: 2%;
}

.modal__content {
  padding-top: 32px;
}

.modal__preloader {
  display: flex;
  justify-content: center;
  align-content: center;
}

.modal__preloader--hidden,
.modal__data {
  display: none;
}

.modal__data--visible {
  display: block;
}

.values {
  font-size: 1.3rem;
  text-align: center;
}

.values__icon {
  margin: 0 8px;
  transform: translateY(7px);
}

.conversion__rate {
  text-align: center;
  color: rgb(126, 126, 126);
}

.recent-conversion {
  display: flex;
  padding: 6px 0;
  justify-content: flex-start;
  align-items: center;
}

.recent-conversion__icon {
  margin: auto 8px;
}

.recent-conversion__fill {
  flex: auto;
}

.recent-conversion__date {
  padding: 0 4px 0 16px;
  font-size: 0.85em;
  color: rgb(126, 126, 126);
}
