body {
  background-image: url('../images/bg.png');
}

.main-wrapper {
  padding: 4% 0;
}

.aside {
  margin-top: 8%;
}

.main__heading,
.aside__heading {
  margin-bottom: 4%;
}

.inputs__clear {
  margin: 4%;
  text-align: center;
}

.convert {
  padding: 4% 0;
  text-align: center;
}

.toast__error {
  background-color: red;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.toast__message {
  padding-right: 4%;
}

@media screen and (min-width: 993px) {
  .aside {
    margin-top: initial;
    margin-left: 4%;
  }
}

/* Modal styles */
.modal__heading {
  margin-bottom: 2%;
}

.modal__content {
  padding-top: 32px;
}

.modal__preloader {
  display: flex;
  justify-content: center;
  align-content: center;
}

.modal__preloader--hidden,
.modal__data {
  display: none;
}

.modal__data--visible {
  display: block;
}

.values {
  font-size: 1.3rem;
  text-align: center;
}

.values__icon {
  margin: 0 8px;
  transform: translateY(7px);
}

.conversion__rate {
  text-align: center;
  color: rgb(126, 126, 126);
}
